[Unit]
Description=PostgreSQL 17 Primary
After=network.target local-fs.target block-tuning.service
Wants=local-fs.target

[Service]
Type=forking
User=postgres
Group=postgres
Environment=PGDATA=/data/pgdata
ExecStartPre=/bin/bash -c 'mkdir -p /var/run/postgresql && chown postgres:postgres /var/run/postgresql'
ExecStartPre=/bin/sleep 2
ExecStart=/usr/lib/postgresql/17/bin/pg_ctl start -D /data/pgdata -l /data/pgdata/log/postgresql.log
ExecStop=/usr/lib/postgresql/17/bin/pg_ctl stop -D /data/pgdata -m fast
ExecReload=/usr/lib/postgresql/17/bin/pg_ctl reload -D /data/pgdata
TimeoutStartSec=60
TimeoutStopSec=60
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
